.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* Загальні налаштування */
body {
  font-family: Roboto, sans-serif;
  font-weight: regular;
  size: 16px;
  height: 24px;
  letter-spacing: 2;
  display: contents;
  width: 1440px;
  background: #fff;

}

/* Налаштування верхньої стрічки */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.top-line {
  display: flex;
  align-items: center;
  gap: 76px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.address-list {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.logo-web {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.header-nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address-style-email,
.address-style-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Налаштування заголовка Н1 та кнопки */
.section-text-button {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.prime-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 0 48px 0;
  /* відступ знизу до кнопки */
  max-width: 1000px;
}

.prime-button {
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
}

.prime-button:hover {
  background-color: #404bbf;
}

/* Налаштування benefits */
.benefits {
  background-color: #fff;
  padding: 60px 0;
}

.benefits-container {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.benefits-title {
  font-size: 32px;
  margin-bottom: 40px;
  color: #fff;
}

.benefits-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.benefit-item {
  width: 264px;
  height: 104px;
  text-align: left;
}

.benefit-item h3 {
  font-size: 20px;
  margin: 0 0 8px 0;
}

.benefit-item p {
  font-size: 14px;
  margin: 0;
  line-height: 1.4;
}

/* Налаштування портфоліо */

.present-photo {
  width: 1440px;
  height: 732px;
  background: #f4f4fd;
  padding: 60px 0;
  margin: 0 auto;
  text-align: center;
}

.our-team-title {
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.team-member {
  width: 264px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.team-member img {
  display: block;
  width: 100%;
  height: auto;
}

.team-member h3 {
  font-size: 20px;
  font-weight: 600;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  margin: 32px 0 8px;
}

.team-member p {
  font-size: 16px;
  color: #434455;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.portfolio-section {
  width: 1440px;
  height: 1240px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-container {
  width: 1128px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  /* 48px між рядками, 24px між колонками */
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.portfolio-item {
  width: 360px;
}

.portfolio-item h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #2e2f42;
  margin: 8px 0 4px;
  text-align: left;
}

.portfolio-item p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  margin: 0;
  text-align: left;
}


/* Налаштування портфоліо 2 секції */

.portfolio-section {
  width: 1440px;
  height: 1240px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-container {
  width: 1128px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.portfolio-item {
  width: 360px;
}

.portfolio-item h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #2e2f42;
  margin: 8px 0 4px;
  text-align: left;
}

.portfolio-item p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  margin: 0;
  text-align: left;
}