.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* Загальні налаштування */
body {
  font-family: Roboto, sans-serif;
  font-weight: regular;
  size: 16px;
  letter-spacing: 2;

  background: #fff;
  color: #434455
}

/* Налаштування верхньої стрічки */
.nav-list {
  list-style: none;
}

.address-list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.item:hover {
  color: #404bbf;
  text-decoration: none;
}

.item:focus {
  color: #404bbf;
  text-decoration: none;
}

.contacts {
  font-style: normal;
}


.contacts-email {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-email:hover {
  color: #404bbf;
}

.contacts-email:focus {
  color: #404bbf;
}

/* Налаштування заголовка Н1 та кнопки */
.section-text-button {

  background: #2e2f42;
  text-align: center;
}

.prime-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #fff;

}

.prime-button {
  background: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

}

.prime-button:hover {
  background-color: #404bbf;
}

.prime-button:focus {
  background-color: #404bbf;
}

/* Налаштування benefits */
.benefits {
  background-color: #fff;

}


.benefits-title {
  font-size: 32px;
  color: #fff;
}

.benefits-list {
  list-style: none;
  padding: 0;
}

.benefit-item {
  text-align: left;
}

.benefit-item h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefit-item p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Налаштування фото */

.present-photo {
  background: #f4f4fd;
  text-align: center;
}

.our-team-title {
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

}

.team-list {
  list-style: none;
}

.team-member {
  background: #fff;
}

.team-member h3 {
  font-size: 20px;
  font-weight: 600;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

.team-member p {
  font-size: 16px;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

/* Налаштування портфоліо */

.portfolio-section {
  background: #fff;
}

.portfolio-container {
  text-align: center;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
  /* 48px між рядками, 24px між колонками */
  list-style: none;
}

.portfolio-title-foto {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.portfolio-text-foto {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}


/* Налаштування портфоліо 2 секції */

.portfolio-section {
  background: #fff;

}

.portfolio-container {
  text-align: center;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  line-height: 1.11;
  text-transform: capitalize
}

.portfolio-list {
  list-style: none;
}


.portfolio-title-foto {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  text-align: left;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text-foto {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

/* Футер */
.end-page {
  background: #2e2f42;
}

.end-page .logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.end-page .logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.end-page p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}